body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFBFC;
}

.contenedor{
    display: flex;
    margin-top:16px;
    align-items: center;
    height: 100%;
    background-color:white;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 15%);
    width:82.8%;
    margin-left:8.6%;
    border-radius:40px;
    height:70px;
}

.contenedor img{
    padding-top:2px;
    padding-left:18px;
    width:11%;
}

.contenedor #txt-cont-a{
    font-family: system-ui;
    color:#5E6D75;
    font-size:24px;
    transition-duration: 0.12s;
    padding-bottom:6px;
    padding-left:1.5%;
}

.contenedor #txt-cont-a:hover{
    transition-duration: 0.12s;
    color:black;
}

main{
    margin-top:11%;
    margin-left:115px;
}

main .title-content-one{
    font-family: system-ui;
    font-size:19px;
    width:55%;
    color:#212529;
}

main .title-content-one #title-one-p1{
    margin:0;
    text-shadow: 0 8px 24px rgb(0, 0, 0, .25);
}

main #decorator-title-one-p1{
    width: 20%;
    height: 7px;
    background: #59AF31;
    border-radius: 50px;
    margin-top:-1px;
}

.box-enough{
    background-color:white;
    width:1116px;
    height:145.562px;
    box-shadow: 0px 16px 48px rgb(0 0 0 / 18%);
    border-radius:6px;
    margin-top:5%;
}

.box-enough #box-content-enough{
    text-align:center;
    width:70%;
    padding-left:15%;
    line-height:2.5;
    padding-top:2%;
    font-family: system-ui;
    color:#6C757D;
}

article{
    width:1116px;
}

.r97-map-view{
    margin-top:10%;
}

.r97-map-view #title-art-one{
    font-family: system-ui;
    font-size:35px;
    width:100%;
    color:#212529;
}

.r97-map-view #r97-map-source{
    margin-top:-24px;
}