body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(0deg, rgba(16,11,17,1) 0%, rgba(30,20,33,1) 42%, rgba(79,25,96,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-color:#c5bd0b;
    color:white;
    text-align:center;
    font-family:system-ui;
    height:80px;
    margin-top:15px;
    width:96%;
    margin-left:2%;
    border-radius:20px;
    box-shadow: 6px 6px 0px rgb(255 255 255 / 20%);
}

header h1{
    margin:0;
    padding-top:15px;
}

.firstp{
    width:95.9%;
    height:250px;
    margin-left:2%;
    margin-top:2%;
    display:flex;
}

.firstp img{
    width:250px;
    height:250px;
    box-shadow:6px 6px 0px rgb(255 255 255/20%);
}

.firstp .content{
    margin-left:2%;
    font-family:system-ui;
    width:100%;
}

.firstp .content #titlei{
    background-color:#cef0f0;
    border-radius:15px;
    padding-left:2%;
    font-weight: bolder;
    height:50px;
    padding-top:8px;
    font-size:30px;
}

.firstp .content #infop{
    background-color: #9cc8c8;
    border-radius:15px;
    height:72.5%;
    margin-top:1%;
}

.firstp .content #infop p{
    margin:4px;
    padding-left:2%;
    padding-top:2.5px;
    font-size:14px;
}

.secondp{
    font-family:system-ui;
    margin-left:2%;
    margin-top:1.5%;
    width:95.9%;
}

.secondp #titleii{
    background-color:#cef0f0;
    border-radius:15px;
    padding-left:2%;
    height:50px;
    padding-top:8px;
    font-size:15px;
}

.secondp #titleii h1{
    margin:0;
}

.secondp #contenti{
    background-color: #9cc8c8;
    border-radius:15px;
    height:150px;
    margin-top:1%;    
}

.secondp #contenti p{
    margin:4px;
    padding-left:2%;
    padding-top:6px;
    font-size:14px;
}